/org/ddtp.debian.net/pg_dump/pg_ddts.dump.gz {
	daily
	missingok
	rotate 52
	nocompress
	notifempty
	#create 640 ddtp debian-i18n-users
}

/org/ddtp.debian.net/ddts/log/mailin {
	weekly
	missingok
	rotate 52
	notifempty
	#create 640 ddtp debian-i18n-users
}

/org/ddtp.debian.net/ddts/log/mailparser.err.log {
	daily
	missingok
	rotate 52
	#compress
	notifempty
	#create 640 ddtp debian-i18n-users
}
/org/ddtp.debian.net/ddts/log/mailparser.log {
	daily
	missingok
	rotate 52
	#compress
	notifempty
	#create 640 ddtp debian-i18n-users
}
